// Resets, clearfix
@import "sass/partials/_reset.scss";
@import "sass/partials/_clearfix.scss";

// variables


// media query ranges
$small: "only screen and (min-width: 200px) and (max-width: 650px)";
$large: "only screen and (min-width: 1000px)";
// Mixins
@mixin small {
  @media #{$small} {
    @content;
  }
}
@mixin large {
  @media #{$large} {
    @content;
  }
}

html {
  height: 100%;
}
body {
  height: 100%;
  font-family: sans-serif;
  color: gray;
  h1 {
    font-size: 40px;
    color: gray;
    font-weight: bold;
    letter-spacing: 0.05em;
  }
}

.galleryPage {
  width: 80vw;
  display: block;
  margin: 0 auto;
}

.galleryPageHeader {
  margin-bottom: 30px;
  span {
    letter-spacing: normal;
  }
}

.mainTitle {
  display: inline-block;
  padding: 10px;
  text-align: justify;
}

.mainTitle:after {
  content: " ";
  display: inline-block;
  width: 100%;
}

.vertDivider {
  display: inline-block;
  width: 2px;
  height: 40px;
  background-color: gray;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  z-index: 10;
}

.mainWelcome {
  display: inline-block;
  text-align: left;
  padding: 10px;
  max-width: 500px;
  @include large {
    border-left: 1px solid;
  }
  @include small {
    display:none;
  }
}

.galleryTitle {
  display: inline-block;
  width: 50%;
  padding: 10px;
}

.galleryWelcome {
  display: inline-block;
  text-align: left;
  max-width: 400px;
  padding: 10px;
  float: right;

  @include large {
    border-left: 1px solid;
  }
}

.galleryListing {
  text-align: center;
  width: 80vw;
}

.galleryImageContainer {
  width: 24vw;
  height: 24vh;
  display: inline-block;
  padding: 10px;
  margin: 5px;

  @include small {
    display: block;
    width: 60vw;
  }
  .frontPagePicture {
    width: 24vw;
    height: 24vh;
    padding: 10px;

    @include small {
      display: block;
      width: 60vw;
    }
  }
}

.galleryFirstImageContainer {
  .frontPagePicture {
    display: block;
    width: 80vw;
    height: 65vh;
    margin: 0 auto;
  }
}

.pictureInfo {
  text-align: left;
  padding-left: 10px;
}

.error-text {
  position: relative;
  left: 120px;
}

.pictureAndText {
  display: inline-block;
  margin: 1px;
}