<!DOCTYPE html>
html(lang="en")
head
  meta(charset="utf-8")
  title Insufficient Permissions
  link(rel = 'stylesheet', href = '/css/styles.css')
body
  br
  img(src = '/images/error-401.png' class = 'error404-image')
  br
  p Admin access required.
  br
  br
  p
    a(href="/" class = 'backText') back to Index