<!DOCTYPE html>
html(lang="en")
head
  meta(charset="utf-8")
  title Picture Not Found
  link(rel = 'stylesheet', href = '/css/styles.css')
body
  br
  img(src = '/images/error-404.png' class = 'error404-image')
  br
  br
  h2(class = 'error-text') Picture Not Found
  br
  br
  br
  p
    a(href="/" class = 'backText') back to Index