<!DOCTYPE html>
html(lang="en")
head
  meta(charset="utf-8")
  title Picture Not Found
  link(rel = 'stylesheet', href = '/css/styles.css')
body
  br
  h1 HTTP 409: Conflict
  br
  br
  h1 Picture Already Exists
  br
  br
  br
  p
    a(href="/" class = 'backText') back to Index