<!DOCTYPE html>
html(lang="en")
head
  meta(charset="utf-8")
  title Picture Not Found
  link(rel = 'stylesheet', href = '/css/styles.css')
body
  h1 SUCCESS!!!
  br
  h2 Picture deleted from gallery
  br
  br
  br
  p
    a(href="/") back