<!DOCTYPE html>
html(lang="en")
head
  meta(charset="utf-8")
  title Picture Deleted
  link(rel = 'stylesheet', href = '/css/styles.css')
body
  h1 SUCCESS!!!
  img(src = '/images/success.jpg' class = 'successImage')
  br
  h2 Picture deleted from gallery
  br
  br
  br
  p
    a(href="/") back