<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="utf-8")
    title Express Gallery
  body
    h1 _ARCHITEKT
    br
    br
    each val in json
      h4 #{val.title} - &nbsp;
        a(href = val.mainurl) #{val.mainurl}
      img(src = val.pictureUrl)
      p Uploaded by: #{val.author}
      p #{val.description}
