html
  head
    meta(charset = "UTF-8")
    title login
  form(method = "POST" action = "/login")
      input(type = "text" name = "username" placeholder = "Username")
      input(type = "password" name = "password" placeholder = "Password")
      input(type = "submit" value = "Submit")
      //- Button(action = "submit") Submit
