<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="utf-8")
    title Express Gallery
    link(rel = 'stylesheet', href = './public/css/styles.css')
  body
    h1 _ARCHITEKT
    br
    br
    h4 Submit a New Picture
    form(action="/gallery",method="POST",id="form")
      div.input
        span.label Title
        input(type="text", name="title")
      div.input
        span.label Author
        input(type="text", name="author")
      div.input
        span.label Link
        input(type="text", name="pictureUrl")
      div.input
        div.label Description
        textarea(name="description", cols="40", rows="5")
      input(type="submit" value="Submit")
